html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }


div {
  box-sizing: border-box; }

* {
	font-family: "Open Sans";
}

/*
 |---------------------------------------------
 | 2. Links
 |---------------------------------------------
 */
a {
  color: #3098CF;
  text-decoration: none;
  font-size: 1.3rem; }

a:hover {
  text-decoration: underline; }

/*
 |---------------------------------------------
 | 3. Lists
 |---------------------------------------------
 */
ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0.5rem 3rem; }

li {
  margin-bottom: 1rem; }

/**
 * 6. Misc
 */
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0;
  border-top: 0.1rem solid #E8E8E8;
  width: 100%; }

span {
  box-sizing: border-box; }

label, a, button {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }

.clear, .clearfix {
  content: "";
  display: table;
  clear: both; }

nav {
  margin: 0; }

ul {
  margin: 0; }

ul li {
  margin: 0; }

nav:after {
  clear: both; }

nav:before, nav:after {
  content: " ";
  display: table; }

nav > ul > li {
  float: left;
  list-style: none;
  padding-left: 1em;
  padding-right: 1em; }


/* PERCENTAGE WIDTH */
.w-100 { width: 100% !important; }
.w-10 { width: 10% !important; }
.w-16 { width: 16.66667% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-33 { width: 33.33333% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-83 { width: 83.33333% !important; }

/* PADDINGS */
.p-10 { padding: 10px !important; }
.p-5 { padding: 5px !important; }
.p-lr-10 { padding: 0 10px !important; }

/* TEXT ALIGN */
.ta-c { text-align: center !important; }
.ta-l { text-align: left !important; }

/* BORDERS */
.bb-grey-1 { border-bottom: 1px solid #E5E5E5; }

.bg-grey {
	background-color: #E5E5E5;
}

.d-inline-block {
	display: inline-block;
}

.mr--10 { margin-right: 10px; }


.row {
  width: 100%; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative; }

.row-xs-1 .col {
  float: left;
  width: 8.33333%; }

.row-xs-2 .col {
  float: left;
  width: 16.66667%; }

.row-xs-3 .col {
  float: left;
  width: 25%; }

.row-xs-4 .col {
  float: left;
  width: 33.33333%; }

.row-xs-6 .col {
  float: left;
  width: 50%; }

.row-xs-12 .col {
  float: left;
  width: 100%; }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-push-1 {
  left: 8.33333%;
  position: relative; }

.col-xs-pull-1 {
  right: 8.33333%;
  position: relative; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-push-2 {
  left: 16.66667%;
  position: relative; }

.col-xs-pull-2 {
  right: 16.66667%;
  position: relative; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-push-3 {
  left: 25%;
  position: relative; }

.col-xs-pull-3 {
  right: 25%;
  position: relative; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-push-4 {
  left: 33.33333%;
  position: relative; }

.col-xs-pull-4 {
  right: 33.33333%;
  position: relative; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-push-5 {
  left: 41.66667%;
  position: relative; }

.col-xs-pull-5 {
  right: 41.66667%;
  position: relative; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-push-6 {
  left: 50%;
  position: relative; }

.col-xs-pull-6 {
  right: 50%;
  position: relative; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-push-7 {
  left: 58.33333%;
  position: relative; }

.col-xs-pull-7 {
  right: 58.33333%;
  position: relative; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-push-8 {
  left: 66.66667%;
  position: relative; }

.col-xs-pull-8 {
  right: 66.66667%;
  position: relative; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-push-9 {
  left: 75%;
  position: relative; }

.col-xs-pull-9 {
  right: 75%;
  position: relative; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-push-10 {
  left: 83.33333%;
  position: relative; }

.col-xs-pull-10 {
  right: 83.33333%;
  position: relative; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-push-11 {
  left: 91.66667%;
  position: relative; }

.col-xs-pull-11 {
  right: 91.66667%;
  position: relative; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

.col-xs-push-12 {
  left: 100%;
  position: relative; }

.col-xs-pull-12 {
  right: 100%;
  position: relative; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .row-sm-1 .col {
    float: left;
    width: 8.33333%; }

  .row-sm-2 .col {
    float: left;
    width: 16.66667%; }

  .row-sm-3 .col {
    float: left;
    width: 25%; }

  .row-sm-4 .col {
    float: left;
    width: 33.33333%; }

  .row-sm-6 .col {
    float: left;
    width: 50%; }

  .row-sm-12 .col {
    float: left;
    width: 100%; }

  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-push-1 {
    left: 8.33333%;
    position: relative; }

  .col-sm-pull-1 {
    right: 8.33333%;
    position: relative; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-push-2 {
    left: 16.66667%;
    position: relative; }

  .col-sm-pull-2 {
    right: 16.66667%;
    position: relative; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-push-3 {
    left: 25%;
    position: relative; }

  .col-sm-pull-3 {
    right: 25%;
    position: relative; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-push-4 {
    left: 33.33333%;
    position: relative; }

  .col-sm-pull-4 {
    right: 33.33333%;
    position: relative; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-push-5 {
    left: 41.66667%;
    position: relative; }

  .col-sm-pull-5 {
    right: 41.66667%;
    position: relative; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-push-6 {
    left: 50%;
    position: relative; }

  .col-sm-pull-6 {
    right: 50%;
    position: relative; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-push-7 {
    left: 58.33333%;
    position: relative; }

  .col-sm-pull-7 {
    right: 58.33333%;
    position: relative; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-push-8 {
    left: 66.66667%;
    position: relative; }

  .col-sm-pull-8 {
    right: 66.66667%;
    position: relative; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-push-9 {
    left: 75%;
    position: relative; }

  .col-sm-pull-9 {
    right: 75%;
    position: relative; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-push-10 {
    left: 83.33333%;
    position: relative; }

  .col-sm-pull-10 {
    right: 83.33333%;
    position: relative; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-push-11 {
    left: 91.66667%;
    position: relative; }

  .col-sm-pull-11 {
    right: 91.66667%;
    position: relative; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; }

  .col-sm-push-12 {
    left: 100%;
    position: relative; }

  .col-sm-pull-12 {
    right: 100%;
    position: relative; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 45em) {
  .row-md-1 .col {
    float: left;
    width: 8.33333%; }

  .row-md-2 .col {
    float: left;
    width: 16.66667%; }

  .row-md-3 .col {
    float: left;
    width: 25%; }

  .row-md-4 .col {
    float: left;
    width: 33.33333%; }

  .row-md-6 .col {
    float: left;
    width: 50%; }

  .row-md-12 .col {
    float: left;
    width: 100%; }

  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-push-1 {
    left: 8.33333%;
    position: relative; }

  .col-md-pull-1 {
    right: 8.33333%;
    position: relative; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-push-2 {
    left: 16.66667%;
    position: relative; }

  .col-md-pull-2 {
    right: 16.66667%;
    position: relative; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-push-3 {
    left: 25%;
    position: relative; }

  .col-md-pull-3 {
    right: 25%;
    position: relative; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-push-4 {
    left: 33.33333%;
    position: relative; }

  .col-md-pull-4 {
    right: 33.33333%;
    position: relative; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-push-5 {
    left: 41.66667%;
    position: relative; }

  .col-md-pull-5 {
    right: 41.66667%;
    position: relative; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-push-6 {
    left: 50%;
    position: relative; }

  .col-md-pull-6 {
    right: 50%;
    position: relative; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-push-7 {
    left: 58.33333%;
    position: relative; }

  .col-md-pull-7 {
    right: 58.33333%;
    position: relative; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-push-8 {
    left: 66.66667%;
    position: relative; }

  .col-md-pull-8 {
    right: 66.66667%;
    position: relative; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-push-9 {
    left: 75%;
    position: relative; }

  .col-md-pull-9 {
    right: 75%;
    position: relative; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-push-10 {
    left: 83.33333%;
    position: relative; }

  .col-md-pull-10 {
    right: 83.33333%;
    position: relative; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-push-11 {
    left: 91.66667%;
    position: relative; }

  .col-md-pull-11 {
    right: 91.66667%;
    position: relative; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; }

  .col-md-push-12 {
    left: 100%;
    position: relative; }

  .col-md-pull-12 {
    right: 100%;
    position: relative; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 60em) {
  .row-lg-1 .col {
    float: left;
    width: 8.33333%; }

  .row-lg-2 .col {
    float: left;
    width: 16.66667%; }

  .row-lg-3 .col {
    float: left;
    width: 25%; }

  .row-lg-4 .col {
    float: left;
    width: 33.33333%; }

  .row-lg-6 .col {
    float: left;
    width: 50%; }

  .row-lg-12 .col {
    float: left;
    width: 100%; }

  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-push-1 {
    left: 8.33333%;
    position: relative; }

  .col-lg-pull-1 {
    right: 8.33333%;
    position: relative; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-push-2 {
    left: 16.66667%;
    position: relative; }

  .col-lg-pull-2 {
    right: 16.66667%;
    position: relative; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-push-3 {
    left: 25%;
    position: relative; }

  .col-lg-pull-3 {
    right: 25%;
    position: relative; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-push-4 {
    left: 33.33333%;
    position: relative; }

  .col-lg-pull-4 {
    right: 33.33333%;
    position: relative; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-push-5 {
    left: 41.66667%;
    position: relative; }

  .col-lg-pull-5 {
    right: 41.66667%;
    position: relative; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-push-6 {
    left: 50%;
    position: relative; }

  .col-lg-pull-6 {
    right: 50%;
    position: relative; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-push-7 {
    left: 58.33333%;
    position: relative; }

  .col-lg-pull-7 {
    right: 58.33333%;
    position: relative; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-push-8 {
    left: 66.66667%;
    position: relative; }

  .col-lg-pull-8 {
    right: 66.66667%;
    position: relative; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-push-9 {
    left: 75%;
    position: relative; }

  .col-lg-pull-9 {
    right: 75%;
    position: relative; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-push-10 {
    left: 83.33333%;
    position: relative; }

  .col-lg-pull-10 {
    right: 83.33333%;
    position: relative; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-push-11 {
    left: 91.66667%;
    position: relative; }

  .col-lg-pull-11 {
    right: 91.66667%;
    position: relative; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; }

  .col-lg-push-12 {
    left: 100%;
    position: relative; }

  .col-lg-pull-12 {
    right: 100%;
    position: relative; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 72.25em) {
  .row-xl-1 .col {
    float: left;
    width: 8.33333%; }

  .row-xl-2 .col {
    float: left;
    width: 16.66667%; }

  .row-xl-3 .col {
    float: left;
    width: 25%; }

  .row-xl-4 .col {
    float: left;
    width: 33.33333%; }

  .row-xl-6 .col {
    float: left;
    width: 50%; }

  .row-xl-12 .col {
    float: left;
    width: 100%; }

  .col-xl-1 {
    float: left;
    width: 8.33333%; }

  .col-xl-push-1 {
    left: 8.33333%;
    position: relative; }

  .col-xl-pull-1 {
    right: 8.33333%;
    position: relative; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-2 {
    float: left;
    width: 16.66667%; }

  .col-xl-push-2 {
    left: 16.66667%;
    position: relative; }

  .col-xl-pull-2 {
    right: 16.66667%;
    position: relative; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-3 {
    float: left;
    width: 25%; }

  .col-xl-push-3 {
    left: 25%;
    position: relative; }

  .col-xl-pull-3 {
    right: 25%;
    position: relative; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-4 {
    float: left;
    width: 33.33333%; }

  .col-xl-push-4 {
    left: 33.33333%;
    position: relative; }

  .col-xl-pull-4 {
    right: 33.33333%;
    position: relative; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-5 {
    float: left;
    width: 41.66667%; }

  .col-xl-push-5 {
    left: 41.66667%;
    position: relative; }

  .col-xl-pull-5 {
    right: 41.66667%;
    position: relative; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-6 {
    float: left;
    width: 50%; }

  .col-xl-push-6 {
    left: 50%;
    position: relative; }

  .col-xl-pull-6 {
    right: 50%;
    position: relative; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-7 {
    float: left;
    width: 58.33333%; }

  .col-xl-push-7 {
    left: 58.33333%;
    position: relative; }

  .col-xl-pull-7 {
    right: 58.33333%;
    position: relative; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-8 {
    float: left;
    width: 66.66667%; }

  .col-xl-push-8 {
    left: 66.66667%;
    position: relative; }

  .col-xl-pull-8 {
    right: 66.66667%;
    position: relative; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-9 {
    float: left;
    width: 75%; }

  .col-xl-push-9 {
    left: 75%;
    position: relative; }

  .col-xl-pull-9 {
    right: 75%;
    position: relative; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-10 {
    float: left;
    width: 83.33333%; }

  .col-xl-push-10 {
    left: 83.33333%;
    position: relative; }

  .col-xl-pull-10 {
    right: 83.33333%;
    position: relative; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-11 {
    float: left;
    width: 91.66667%; }

  .col-xl-push-11 {
    left: 91.66667%;
    position: relative; }

  .col-xl-pull-11 {
    right: 91.66667%;
    position: relative; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-12 {
    float: left;
    width: 100%; }

  .col-xl-push-12 {
    left: 100%;
    position: relative; }

  .col-xl-pull-12 {
    right: 100%;
    position: relative; }

  .col-xl-offset-12 {
    margin-left: 100%; } }

.page-break-avoid { page-break-inside: avoid; }

/*
 |--------------------------------------------------------
 | @PANEL
 |--------------------------------------------------------
 */
.panel {
	margin-bottom: 20px;
	background-color: #FFFFFF;
}
.panel .panel-heading {
	border-top: 4px solid #2196f3;
	color: #333;
    background-color: #f5f5f5;
	padding: 5px;
}
.panel .panel-title {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    color: #454545;
    font-size: 16px;
}
.panel .panel-container {
	padding: 10px;
}

.agregator-summary h5 {
    font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
}
.mdt-color, .mdt-c {
    color: #2196f3;
}

.p-left-30 {
    padding-left: 30px;
}


/*
	@FONT SIZE
*/
.f-size-12 { font-size: 12px; }
.f-size-14 { font-size: 14px; }
.f-size-16 { font-size: 16px; }
.f-size-20 { font-size: 20px; }
.m-left-20 {
    margin-left: 20px;
}
.m-bottom-20 {
    margin-bottom: 2rem;
}
.m-left-5 { margin-left: 0.5rem; }
.f-right {
    float: right;
}

.bold { font-weight: 700; }
.bolder { font-weight: 800; }
.medium { font-weight: 600; }

.transport-type {
	font-size: 12px;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0.5rem 0;
    display: inline-block;
}
.mdt-bg {
    background: #2196f3;
}

.offer-status.status-yes { color: #09B700; }
.offer-status.status-ask { color: #FF9800; }
.offer-status.status-no { color: #f44336; }
.offer-status {
    padding: 0.2rem;
    color: #FFFFFF;
    display: inline-block;
	font-weight: bold;
}

/* STARS */
.qc-star,
.qc-star-1-5,
.qc-star-2-5,
.qc-star-3-5,
.qc-star-4-5,
.qc-star-5-5 {
  color: #999999;
  content: ""; }

.qc-star:before, .qc-star:after,
.qc-star-1-5:before, .qc-star-1-5:after,
.qc-star-2-5:before, .qc-star-2-5:after,
.qc-star-3-5:before, .qc-star-3-5:after,
.qc-star-4-5:before, .qc-star-4-5:after,
.qc-star-5-5:before, .qc-star-5-5:after {
  font-family: "FontAwesome", "Font Awesome 5 Free"; }

.qc-star-1-5:before,
.qc-star-2-5:before,
.qc-star-3-5:before,
.qc-star-4-5:before,
.qc-star-5-5:before {
  color: #FEA002; }

.qc-star:before {
  content: ""; }

.qc-star:after {
  content: "\f005  \f005  \f005  \f005  \f005"; }

.qc-star-1-5:before {
  content: "\f005"; font-weight: bold;}

.qc-star-1-5:after {
  content: "  \f005  \f005  \f005  \f005"; }

.qc-star-2-5:before {
  content: "\f005  \f005"; font-weight: bold;}

.qc-star-2-5:after {
  content: "  \f005  \f005  \f005"; }

.qc-star-3-5:before {
  content: "\f005  \f005  \f005"; font-weight: bold;}

.qc-star-3-5:after {
  content: "  \f005  \f005"; }

.qc-star-4-5:before {
  content: "\f005  \f005  \f005  \f005"; font-weight: bold;}

.qc-star-4-5:after {
  content: "  \f005"; }

.qc-star-5-5:before {
  content: "\f005  \f005  \f005  \f005  \f005"; font-weight: bold;}

.qc-star-5-5:after {
  content: ""; }


.price-header {
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	padding: 4px 0;
}
.room-row:nth-child(odd) {
    background-color: #EFEFEF;
}
.room-row {
	padding: 4px;
}
.price-item {
    border-bottom: 0.1rem solid #CCCCCC;
}

.line-through { text-decoration: line-through; }
.f-size-10 { font-size: 1rem; }
.f-left { float: left; }

/* PDF FLIGHT ITEM */
.pdf-flight-item {
	margin-bottom: 20px; 
	page-break-inside: avoid;
}
.pfi--company {	
	font-weight: 600; 
	font-size: 14px; 
}
.pfi--fare-class { font-size: 12px; }
.pfi--departure-location { font-weight: bold; }
.pfi-time { font-weight: bold; font-size: 14px; }
.pfi-date { color: #838A9E; font-weight: 600; }
.pfi--line hr { margin: 5px 0; }
.pfi--line { font-weight: bold; }
.pfi--legs { color: #838A9E; font-weight: bold; }
.pfi--price { font-size: 20px; font-weight: bold; }
.pfi--extra-details { margin-bottom: 10px; }
.pfi--extra-details-list { list-style: none; color: #838A9E; }
.book-btn,
.pfi--btn { 
	color: #FFFFFF; 
	background-color: #d32f2f;
	padding: 3px 5px;
	border-radius: 3px;
	line-height: 1;
	font-weight: 600;
	font-size: 12px;
}
.book-btn {
	font-size: 12px;
	padding: 3px 6px;
}

.travel-message {
	padding-left: 5px;
	padding-right: 5px;
}
.arrival-next-day { color: #FF0000; }

.tvi--description h1 { font-size: 18px; }
.tvi--description h2 { font-size: 16px; }
.tvi--description h3 { font-size: 16px; }
.tvi--description h4 { font-size: 14px; }
.tvi--description h5,
.tvi--description h6 { font-size: 12px; }

.cs-destination-box .cs-book-now {
	display: inline-block;
}
			
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	position: relative;
}

.col-md-1,
.col-sm-1,
.col-xs-1 {
	float: left;
	width: 8.33333%; 
}

.col-md-2,
.col-sm-2,
.col-xs-2 {
	float: left;
	width: 16.66667%; 
}

.col-md-3,
.col-sm-3,
.col-xs-3 {
	float: left;
	width: 25%; 
}

.col-md-4,
.col-sm-4,
.col-xs-4 {
	float: left;
	width: 33.33333%; 
}

.col-md-5,
.col-sm-5,
.col-xs-5 {
	float: left;
	width: 41.66667%; 
}

.col-md-6,
.col-sm-6 {
	float: left;
	width: 50%; 
}

.col-md-7,
.col-sm-7 {
	float: left;
	width: 58.33333%; 
}

.col-md-8,
.col-sm-8,
.col-xs-8 {
	float: left;
	width: 66.66667%; 
}

.col-md-9,
.col-sm-9,
.col-xs-9 {
	float: left;
	width: 75%; 
}

.col-md-10,
.col-sm-10,
.col-xs-10 {
	float: left;
	width: 83.33333%; 
}

.col-md-11,
.col-sm-11,
.col-xs-11 {
	float: left;
	width: 91.66667%; 
}

.col-md-12,
.col-sm-12,
.col-xs-12 {
	float: left;
	width: 100%; 
}

.btn, button, input[type="submit"], input[type="button"], input[type="reset"] {
	display: inline-block;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 0.8rem 2.2rem;
	color: #000000;
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	border: 0.1rem solid #D9D9D9;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 0.3rem;
}

.btn, button, input[type="submit"], input[type="button"], input[type="reset"] {
	text-decoration: none;
	border-radius: 0.2rem;
	height: 3.6rem;
	line-height: 3.6rem;
	outline: 0;
	padding: 0 2rem;
	border: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	cursor: pointer;
	font-weight: normal;
}

.btn, button, input[type="submit"], input[type="button"], input[type="reset"] {
	color: #FFFFFF;
	background-color: #00796b;
	display: block;
}

.btn-travel-details {
	float: none;
}

.single-item-img.img-responsive {
	max-width: 100%;
	width: auto;
}

.single-item-img {
	margin: 0 auto;
	display: block;
}

.cs-destination-box {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #e3e3e3;
}

.cs-destination-box h2 {
	margin-top: 0rem;
}

.cs-destination-box p {
	margin-bottom: 0rem;
}

.cs-destination-box .cs-destination-header-text {
	padding: 0rem 1rem;
}

.cs-destination-box .cs-price-description {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.cs-destination-box .cs-book-now {
	display: inline-block;
}

.cs-destination-box .cs-initial-price {
	text-decoration: line-through;
	color: #ababab;
	font-size: 15px;
	font-weight: 600;
	margin-right: 0.6rem;
}

.cs-destination-box .cs-price-wrapper {
	font-size: 13px;
	margin-bottom: 0.5rem;
}

.cs-destination-box .cs-price {
	font-weight: bold;
	font-size: 21px;
}

.cs-destination-box .destination-description {
	color: #828282;
	/*height: 6.5rem;*/
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.cs-list-itms {
	padding: 1rem;
}

.cs-green-icons {
	list-style-type: none;
}

.travel-list-item .stars {
	padding: 0rem;
	margin: 0rem;
}

.cs-destination-box i,
.cs-green-icons i,
.cs-list-itms ul li i {
	color: #1d9d74;
}

.cs-list-itms ul li,
ul.cs-green-icons li {
	font-size: 1.3rem;
	color: #ABABAB;	
}

.travel-list-item-description {
	margin-top: 0.5rem;
}

.cs-destination-order-export {
	width: 1024px;
	margin: 2rem auto 0rem;
}

.box-offer-img {
	height: 18rem;
	width: 100%;
	object-fit: cover;
}

.travel-list-item-center {
	padding: 0 1rem;
}

.travel-list-item-status.status-yes {
	color: #09B700;
}

.travel-list-item-status.status-no {
	color: #f44336;
}

.travel-list-item-status.status-ask {
	color: #FF9800;
}

.travel-list-item-status {
	font-weight: 600;
	margin-bottom: 1rem;
}

.travel-list-item .stars {
	float: left;
}
ul.stars {
	list-style: none;
	margin-bottom: 0.5rem;
}

.stars li {
	display: inline-block;
	color: #FEA002;
}

.travel-list-item {
	border-bottom: 0.1rem solid #e8e8e8;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.travel-list-item-location {
	color: #ABABAB;
	margin-left: 1rem;
	float: left;
	font-weight: 600;
	font-size: 1rem;
}

.discount-badge {
	position: absolute;
	top: 0rem;
	right: 0rem;
	border-left: 10rem solid transparent;
}

.discount-badge {
	position: absolute;
	border-left: 8rem solid transparent;
}

.discount-badge {
	border-top: 8rem solid #cddc39;
}

.discount-badge span {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	margin-top: -9rem;
	font-weight: bold;
	font-size: 1.9rem;
	color: #FFFFFF;
	white-space: nowrap;
	margin-right: 1rem;
}

.discount-badge span {
	position: absolute;
	z-index: 99;
	top: 0;
	right: 0;
	margin-top: -7rem;
	font-weight: bold;
	font-size: 1.6rem;
	color: #FFFFFF;
	white-space: nowrap;
	margin-right: 0.5rem;
}

.discount-badge.special-offer span, .discount-badge.best-deal span {
	transform: rotate(45deg);
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2rem;
	margin-right: 0rem;
	text-align: center;
}

.discount-badge span.cs-raw-discount {
	font-size: 1.4rem;
	line-height: 1.4rem;
}

.travel-list-item-right {
	padding-left: 1rem;
	position: relative;
	/*height: 100%;*/
	padding-bottom: 5rem;
}

.travel-list-item-right .price {
	padding-top: 1rem;
}

.travel-list-item-initial-price {
	text-decoration: line-through;
	color: #ABABAB;
	font-size: 15px;
	font-weight: 600;
}

.cs-travel-list-item-right-with-badge .travel-list-item-initial-price {
	margin-bottom: 0.6rem;
	display: block;
}

.travel-list-item-price {
	font-size: 26px;
	margin-bottom: 0.6rem;
}

.cs-travel-list-item-right-with-badge .travel-list-item-price {
	max-width: 14rem;
}

.travel-list-item-right .price-per {
	color: #ABABAB;
	font-size: 1.2rem;
}

.btn-travel-details {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	width: calc(100% - 2rem);
}

.btn, button, input[type="submit"], input[type="button"], input[type="reset"] {
	text-decoration: none;
	border-radius: 0.2rem;
	height: 3.6rem;
	line-height: 3.6rem;
	outline: 0;
	padding: 0 2rem;
	border: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	cursor: pointer;
	font-weight: normal;
}

.btn, button, input[type="submit"], input[type="button"], input[type="reset"] {
	color: #FFFFFF;
	background-color: #00796b;
}

.travel-list-item-title a {
	color: #202020;
	font-weight: bold;
	font-size: 20px;
}

.travel-list-item-title a:hover,
.travel-list-item-title a:focus {
	text-decoration: none;
}

.travel-list-item-title {
	cursor: pointer;
}

.travel-list-item-title {
	line-height: 1;
	margin-top: 0;
}

.travel-list-item-description {
	color: #ABABAB;
	margin-top: 1rem;
	font-size: 1rem;
}

.travel-list-item-description {
	margin-top: 0.5rem;
}

.d-none, .display-none {
	display: none;
}

.destination-header .destination-header-text {
	padding: 0 2rem 1rem 2rem;
}

.destination-header {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-bottom: 0.1rem solid #DEDEDE;
	padding-bottom: 2rem;
}

.travel-message {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1rem;
}

.travel-message {
	padding-left: 5px;
	padding-right: 5px;
}

.flight-ticket-item {
	margin-bottom: 2rem;
}

.flight-ticket-item-box {
	background-color: #FFFFFF;
	border: 0.1rem solid #E1E3E9;
	border-radius: 0.3rem;
	box-shadow: 0 3px 20px 2px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out;
	padding: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	position: relative;
}

.flight-ticket-item-box {
	box-shadow: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.flight-ticket-item .legs-details {
	display: none;
}

.flight-ticket-item .flight-company {
	padding: 10px;
}

.flight-ticket-item .flight-route {
	padding: 1rem;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.flight-ticket-item .flight-company span {
	color: #838A9E;
	font-weight: 600;
}

.cs-fare-class-under-carrier {
	font-size: 12px;
}

.flight-ticket-item .flight-route span.flight-time {
	display: block;
	font-size: 16px;
	color: #000000;
}

.flight-ticket-item .flight-line {
	position: relative;
	width: 100%;
	margin-bottom: 3.5rem;
}

.flight-ticket-item .flight-line::before {
	height: 2px;
	background-color: #838A9E;
	content: "";
	bottom: 0;
	left: 0;
	margin-bottom: -0.5rem;
	position: absolute;
	width: 100%;
	max-width: 10rem;
	left: 50%;
	transform: translateX(-50%);
}

.flight-ticket-item .flight-route span {
	color: #838A9E;
	font-size: 12px;
	white-space: nowrap;
}

.flight-ticket-item .flight-line .flight-legs {
	position: absolute;
	top: 0;
	margin-top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	color: #512da8;
}

.btn.btn-flight-details, .btn.btn-flight-details:focus {
	background-color: #F0F0F0;
	color: #333333;
	font-size: 10px;
	height: 2.4rem;
	line-height: 2.4rem;
	padding: 0 0.5rem;
	text-transform: none;
}

.vertical-align-middle {
	vertical-align: middle;
	display: inline-block;
}

.flight-ticket-item .flight-price {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 1rem;
	display: block;
}

.cs-flight-price-extra li {
	font-size: 1.2rem;
	color: #838A9E;
}

.t-center, .text-center {
	text-align: center;
}

.cs-flight-price-extra {
	padding-bottom: 0.5rem;
	text-align: left;
	list-style: none;
	margin-bottom: 0.5rem;
	padding-left: 1rem;
}

ul.cs-hotel-facilities {
	list-style: disc inside;
}

ul.cs-hotel-facilities li {
	list-style-type: none;
}

ul.tli-facilities li {
	float: left;
	width: 50%;
	line-height: 1.7;
}

ul.tli-facilities li {
	line-height: 1.7;
}

.utility-green {
	color: #1d9d74;
}

ul.tli-facilities::after, .tli-facilities::before {
	display: table;
	content: "";
	clear: both;
}

.hotel-recommended {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #F7CB1B;
	z-index: 10;
	padding: 0.5rem 1rem;
	color: #FFFFFF;
	font-size: 1.4rem;
}


.text-gray-400 {
    color: rgb(156,163,175);
}
.text-gray-900 {
    color: rgb(17,24,39);
}
.text-green-600 {
	color: rgb(5,150,105);
}
.text-blue-700 {
	color: rgb(29, 78, 216);
}