@charset "utf-8";
/* CSS Document */

img {
	border: 0px;
}

html, body {
	height: 100%;
}

a {
	cursor: pointer;
}

body {
	padding: 0;
	color: #2a2a2a;
	font: 0.875em/1.35;
	font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left bottom;
}


.mainwrap{
 margin: 0 auto;  
 width: 96%;
 min-width: 1000px;
 max-width: 1800px;
}
.logo {
  float: right;  
  width: 130px;
  height: 80px;
  margin-top: 15px;
}
.small_links{
    float: right;
    margin-top: 15px;
}
.small_links a {
    display: block;
    float: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    color: #6e6e6e;
    text-decoration: none;
    font-weight: lighter;
    padding-left: 5px;
}
.small_links a:hover {
    color: #243e85;
}
.motto {
    border-top: 1px solid #dfdede;
    border-bottom: 1px solid #dfdede;
    margin: 39px auto 15px auto;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 985px;
}
.motto h3{
   font-family: AlexandriaFLF;
   font-size: 2.4em;
   font-weight: lighter;
   text-align: center;
}
.motto h3 span {
    color: #03afff;
    
}
.menu {
    display: inline-block;
    margin-bottom: 15px;
}
.menu a{
    text-align: center;
    font-family: Avenir LT Std;
    color: #6a6a6a;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.menu a:hover {
    text-decoration: underline;
}
.slide {
    height: 340px;
    float: left;
    border-left: 1px solid #dfdede;
    border-right: 1px solid #dfdede;
    border-bottom: 1px solid #dfdede;
    width: 1100px;
    margin-left: 10px;
    margin-bottom: 13px;
}
.slide-top-bar{
    height: 11px;
    background-color: #7080ac;
    border-radius:0.1em;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.45);
box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.45);

}
.screenshot {
    float: left;
    display: block;
    padding-left: 50px;
    padding-top: 10px;
    width: 500px;
    height: 307px;
    
}
.menu_wraper{
   text-align: center;  
}
.slide-text {
    float: right;
    width: 535px;
}
.slide h3{
    font-family: Lato;
    font-size: 2em;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 15px;
}
.slide p {
    font-family: Lato;
    font-size: 21px;
    color: #706f6f;
    font-weight: lighter;
    padding-left: 10px;
}
.p-bg{
    background-color: #cceaff;
    color: #000!important;
    padding-left: 5px;
}

.menu_wraper {
	float: left;
   padding-top: 66px;
}

.second-menu a, .second-menu-page a{
     text-decoration: none;
     text-transform: uppercase;
     font-family: Source Sans Pro;
     font-size: 14px;
     color: black;
     float: left;
     padding-left: 7px;
     padding-top: 5px;
     padding-right: 7px;
     padding-bottom: 3px;
     margin-left: 7px;
     border-left: 1px solid transparent;
     border-right: 1px solid transparent;
     border-top: 1px solid transparent;
     border-radius: 3px;
}
.second-menu a:hover {
     border-left: 1px solid #cbd6dd;
     border-right: 1px solid #cbd6dd;
     border-top: 1px solid #cbd6dd;
     border-radius: 3px;
     color: #243e85;
     background-color: #eaf3f9;
    
}
.second-menu-page a:hover{
   background-color: none;
   border-left: 1px solid #cbd6dd;
   border-right: 1px solid #cbd6dd;
   border-top: 1px solid #cbd6dd;
   border-radius: 3px;
   color: #243e85;
}
.features {
    width: 100%;
    background-color: #eaf3f9;
    float: left;
    border-top: 1px solid #cbd6dd;
}
.posts{
    padding-bottom: 20px;
}
.feature-1{
    width: 350px;
    margin-left: 15px;
    margin-top: 40px;
    float: left;
}
.feature-1 h3 {
    font-family: Source Sans Pro;
    font-size: 1.6em;
    color: #030303;
    font-weight: normal;
    padding-bottom: 10px;
    
}
.feature-1 p {
    font-family: Lato;
    font-size: 1em;
    color: #97969c;
    padding-left: 8px;
    line-height: 1.5em;
    
}
.feature-1 h3 img {
    padding-right: 10px;
    padding-top: 4px;
}
.read-more{
   padding:4px 12px 4px 12px;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 20px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
border: 1px solid #b8c0c4;
font-weight: 100px;
font-size: 1.4em;
color: #6c7377;
}
.footer {
    background-color: #253e85;
    
}
.footer-info {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-image: url ("../i/footer-bg.png");
    background-repeat: no-repeat;
}
.footer-info h2 {
    font-family: Source Sans Pro;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    padding-top: 36px;
    
}
.footer-info p {
    color: #fff;
    font-size: 1.2em;
    font-family: Lato;
    padding: 20px 20px 10px 20px;
    font-weight: 300;
}
.request-trial {
    background-color: #32affc;
    color: #fff;
    font-family: Source Sans Pro;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: 2px solid #39558c;
    font-size: 1.4em;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 15px;
}
.request-trial:hover{
    
    border: 2px solid #52bdff;
    color: #333;
}
.copyright{
    font-family: Source Sans Pro;
    font-size: 1.1em;
    color: #6e6e6e;
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    pading-bottom: 10px;
}
.header-strip {
  height: 35px;
  clear: both;
}

.header-strip, .header-strip .left, .header-strip .right {
	height: 35px;
}

.left{
	float: left;
    width: 30%;
    background-color: #7080ac;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    
}
.right{
	float: left;
    width: 70%;
    background-color: #243e85;
}
.right h2 {
    font-family: AlexandriaFLF;
    font-size: 2.3em;
    color: #707ca5;
    font-weight: 300;
    padding-left: 12px;
}
.left-column {
   width: 30%; 
   float: left;
}
.menu-left{
    padding-left: 140px;

    
}
.menu-left a{
    display: block;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-size: 1.2em;
    text-align: right;
    color: #121212;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    
}
.menu-left .main-menu {
     border-bottom: 1px solid #cac9c9;
     border-right: 1px solid #cac9c9;
}
.menu-left .main-menu:hover {
    background-image: url("../i/menu-left-arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    color: #243e85;
    border-right: 1px solid transparent;
}
.menu-left .sub-menu{
    border-bottom: 1px dashed #cac9c9;
     border-right: none;
     color: #88837c;
     font-size: 1.1em;
     font-weight: 300;
}
.menu-left .sub-menu:hover{
    color: #243e85;
    background-image: url("../i/menu-left-arrow.png");
    background-repeat: no-repeat;
    background-position: right;    
}
.right-column{
    width: 70%;
    float: left;
}
.right-column h3{
    font-family: Source Sans Pro;
    color: #243e85;
    font-size: 2em;
    font-weight: 300;
    padding-left: 15px;
}

.nav > li > a {
    padding: 1px 15px;
}

.docs-tree {
	padding-top: 20px;
}

.docs-tree > .nav > li {
	
}

.page-header {
    margin: 20px 0 10px;
    padding-bottom: 0px;
}

h1, h2, h3 {
    margin-bottom: 7px;
    margin-top: 15px;
	
}

h1, h2, h3, h4, h5, h6 {
	color: #243e85;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, .h1 {
    font-size: 30px;
}


.docs-tree {
	float: left;
	width: 20%;
}

.docs-content {
	float: left;
	width: 79%;
}

.highlight code {
    background-color: transparent !important;
    padding: 0px 0px;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    display: block;
    margin-bottom: 14px;
    padding: 9px 14px;
}

blockquote > div.highlight {
	margin-bottom: 0;
}

div.highlight code {
	line-height: 1.1;
}

nav.docs-tree li span {
    font-weight: bold;
}

.docs-tree li {
    font-size: 14px;
}

.classesList li small {
	font-size: 9px;
	display: block;
}

.hightlight {
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    display: block;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.hightlight code, .hightlight code span {
	background-color: #f7f7f9;
	line-height: 1.1em;
}
