
ul.classesList {
	padding-left: 0px;
	list-style-type: none;
}

.QDevModeClassesCtrl {
	display: table;
}

.QDevModeClassesCtrl h1 span, .QDevModeClassesCtrl h5 span {
	cursor: pointer;
}

.QDevModeClassesCtrl h1 span i {
	font-size: 11px;
}

.QDevModeClassesCtrl h1 span:hover, .QDevModeClassesCtrl h5 span:hover {
	outline: 1px solid #03afff;
	outline-style: dotted;
}

.QDevModeClassesCtrl .smallHeadingDataCol span.showFile {
	color: #00A300;
	cursor: pointer;
}

.QDevModeClassesCtrl .classElements span i.fa-usd {
	color: #cc6600;
	cursor: pointer;
}

.QDevModeClassesCtrl .classElements span i.fa-eye {
	color: #00A300;
	cursor: pointer;
}

.QDevModeClassesCtrl .classElements span i.fa-home {
	color: #243e85;
	cursor: pointer;
}

.QDevModeClassesCtrl .classElements span.propertyName {
	
}


.QDevModeClassesCtrl .smallHeadingDataCol span.showFile:hover {
	outline: 1px solid #03afff;
	outline-style: dotted;
}

.QDevModeClassesCtrl .smallHeadingCol {
	clear: both;
}

.QDevModeClassesCtrl .smallHeadingCol h5 {
	display: block;
	width: 100px;
	float: left;
	padding: 1px 0px;
	margin: 0px;
	line-height: 1.5;
}

.QDevModeClassesCtrl .smallHeadingDataCol {
	float: left;
	padding: 1px 0px;
	line-height: 1.5;
}

.QDevModeClassesCtrl .classElementsTabs {
	list-style: none;
	padding: 0;
	margin: 0;
}

.QDevModeClassesCtrl .classElementsTabs > li {
	float: left;
	display: block;
	font-size: 15px;
	margin-right: 5px;
	color: #243e85;
	cursor: pointer;
	padding: 2px 7px;
	border-bottom: 2px solid transparent;
}

.QDevModeClassesCtrl table.classElements {
	
}

.QDevModeClassesCtrl table.classElements td, .QDevModeClassesCtrl table.classElements th {
	vertical-align: top;
}

.QDevModeClassesCtrl table.classElements tbody tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.QDevModeClassesCtrl .classElementsTabs > li:hover,.QDevModeClassesCtrl .classElementsTabs > li.selected {
	border-color: #243e85;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {

}
