

.QDevModeGeneratedCtrl .QDevModeSelectCtrl {
	display: inline-block;
}

.QDevModeGeneratedCtrl .QDevModeSelectCtrl ul.classesList {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #0B879E;
	border-radius: 2px;
	list-style: none;
	padding: 10px 10px;
	z-index: 10000;
}

