/* Everything will be exactly as it is */
* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.625;
	font-weight: 400;
	font-size: 14px;
}