
/*
.QDevModeSecurity_Model_Ctrl table tbody tr::nth-child(odd) {
	background-color: #f3f3f3;
}
*/
 

.QDevModeSecurity_Model_Ctrl .searchable_heading {
	
}

.QDevModeSecurity_Model_Ctrl table tr th h5 {
	text-align: left;
}

.QDevModeSecurity_Model_Ctrl .searchable_heading .QDevModeSelectModelCtrl {
	display: inline-block;
}

.QDevModeSecurity_Model_Ctrl .searchable_heading .QDevModeSelectModelCtrl ul.classesList {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #0B879E;
	border-radius: 2px;
	list-style: none;
	padding: 10px 10px;
	z-index: 10000;
}


.QDevModeSecurity_Model_Ctrl table th:first-child {
	padding: 1px 20px;
	white-space: nowrap;
}

.QDevModeSecurity_Model_Ctrl table thead th {
	vertical-align: top;
	color: #243e85;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	padding-right: 10px;
	padding-left: 5px;
	font-weight: normal;
}

.QDevModeSecurity_Model_Ctrl table td {
	padding-right: 10px;
	padding-left: 5px;
}

.QDevModeSecurity_Model_Ctrl table tbody th {
	
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.QDevModeSecurity_Model_Ctrl table tbody th h5 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	
}

.QDevModeSecurity_Model_Ctrl table tbody th h5 i {
	
}

.QDevModeSecurity_Model_Ctrl table tbody th h5.clickable {
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.QDevModeSecurity_Model_Ctrl table tbody th h5 i.transparent {
	color: transparent;
	cursor: default;
}

.QDevModeSecurity_Model_Ctrl table th:nth-child(even), .QDevModeSecurity_Model_Ctrl table td:nth-child(even) {
	background-color: #f6f6f6;
}

