
/* we need to include this */

/* .qc-textarea, .qc-radio-dropdown, .postcode-input-border, .form-input-border .qc-dd .qc-dd-pick, .form-input-focus .qc-dd .qc-dd-pick, .form-input-border input.form-input {
	border: 3px solid red;
	height: 3.5rem;
	padding: 0.2rem 0.5rem;
}
*/
