// Button Paddings
// small
$btn_padding_x_sm: 1.2rem;
$btn_padding_y_sm: 0.6rem;
// normal / medium
$btn_padding_x_md: 1.6rem;
$btn_padding_y_md: 1rem;
// large
$btn_padding_x_lg: 1.2rem;
$btn_padding_y_lg: 0.8rem;
