/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2017, 10:04:46 AM
    Author     : Omi-Mihai
*/

/* CUSTOM DROPDOWN */

.qs-enum-dd {
	position: relative;
	min-width: 20rem;
	padding: 0.4rem 1.2rem 0.4rem 0rem;
	height: 2.8rem;
	margin: 0rem 0rem 0.5rem;
	background-color: #FFFFFF;
	outline: none;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.qs-enum-dd:after {
	font-family: "FontAwesome";
	content: "\f107";
	border-color: #333333; 
	width: 10px;
	height: 100%;
	position: absolute;
	right: 0.5rem;
	border-color: #333333;
	z-index: 1;
	top: 0rem;
	box-sizing: border-box;
	padding-top: 0.4rem;
}

.qc-enum-dd-caption-wr {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.qc-enum-dd-tooltip {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.qc-enum-dd-tooltip .tooltip {
	width: 100%;
}

*:hover.qc-enum-dd-tooltip.qc-tooltip.tooltip-top .tooltip {
	left: 0rem;
	bottom: 3.5rem;
	margin: 0rem;
	height: auto;
	white-space: normal;
}

.qs-enum-dd ul.dropdown {
	position: absolute;
	left: -0.1rem;
	right: -0.1rem;
	top: 100%;
	display: none;
	background: #fff;
	font-weight: normal;
	pointer-events: none;
	list-style: none;
	max-height: 20rem;
	overflow-y: scroll;
	-webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	z-index: 999;
	margin-top: 0.1rem; 
}

.qs-enum-dd ul.dropdown li input {
	display: none; 
}

.qs-enum-dd ul.dropdown li label {
	margin: 0;
	border: 0;
	display: block;
	text-decoration: none;
	padding: 0.5rem 1rem; 
}

.qs-enum-dd ul.dropdown li input[type="radio"]:checked ~ label {
	background: #f3f8f8; 
}

.qs-enum-dd ul.dropdown li label:hover {
	background: #f3f8f8; 
}

.qs-enum-dd.active ul.dropdown {
	display: block;
	pointer-events: auto; 
}

.qs-enum-dd.active:after {
	content: "\f106";
	font-family: "FontAwesome"; 
}

.qs-enum-dd ul.dropdown li a {
	font-size: 1.4rem;
	color: #000000; 
}

.qs-enum-dd ul.dropdown li a:hover {
	text-decoration: none;
	background-color: #CCCCCC;
	color: #FFFFFF; 
}

.multi-value-row .qc-checkbox {
	float: left;
}

.multi-value-row .table-cell,
.multi-value-row .table-cell label {
	text-align: left;
}

.multi-value-row .f-w {
	width: 2rem;
}